body{
    text-align: left;
    font-size: small;
    color: brown;
}

#primer{
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cabecera{
    text-align: left;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(53, 119, 177);
    color: rgb(40, 40, 41);
    /* padding-left: 20px; */
    padding: 20px;
    font-size: 0.5cm;

}
#footer{
    background-color: rgb(42, 59, 73);
    color: rgb(206, 197, 185);
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
