body{
    text-align: left;
    font-size: small;
    color: brown;
}

#primer{
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cabecera{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: rgb(0, 102, 255);

}
#footer{
    background-color: rgb(42, 59, 73);
    color: rgb(206, 197, 185);
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}