body{
    text-align: left;
    font-size: small;
    color: brown;
}

#cabecera{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: rgb(0, 102, 255);
}